@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	font-family: var(--font-geist-sans), sans-serif;
}

body {
	font-family: var(--font-geist-mono), monospace;
}

@font-face {
	font-family: 'Anime';
	src: url('/fonts/Anime.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the font only for elements with the class */
.anime-font {
	font-family: 'Anime', sans-serif;
}

::selection {
	background-color: #ffffff;
	color: #000000;
}

/* Set width and height of the scrollbar */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

/* Background of the scrollbar */
::-webkit-scrollbar-track {
	background: #000000;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
	background-color: #ffffff;
	border-radius: 10px;
}

/* Hover effect on the thumb */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}